@import 'common/base';

.testHoge {
  background: #CCC;
  padding: 1rem;
}

.hoge {
  background: #f7f7f7;
  padding: 1rem;
}

.className {
  color: green;
  background: #CCC;
}

.otherClassName {
  composes: className;
  color: yellow;
}

.hooge {
  composes: hogemaru from './common/_css-module-sample.css';
  color: green;
}

.loaderBg {
  background: #FFF;
  position: absolute;
  z-index: 1000;
  width: 100%;
}
